{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": 53.8996,
        "location_name": "Home",
        "longitude": 27.5678,
        "time_zone": "Europe/Minsk",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}